<%# <input type="checkbox" id="show-hide-forms" hidden>
<div class="forms-wrapper">
    <label for="show-hide-forms" class="x-btn">&#10005;</label>
    <input type="checkbox" id="show-form" hidden>
    <div class="show-form--heading">
        <h2>Welcome to naijaproperty</h2>
    </div>
    <div class="show-btns-wrapper">
        <label for="show-form" class="show-form-btn show-signup-form">Sign Up</label>
        <label for="show-form" class="show-form-btn show-login-form">Log In</label>
    </div>

    <form class="signup-form">
        <h3 class="form-heading">Sign Up</h3>
        <div class="fullname-imputs-wrapper">
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
        </div>
        <input type="text" class="form-input" placeholder="Username">
        <input type="email" class="form-input" placeholder="Email Address">
        <input type="password" class="form-input" placeholder="Password">
        <input type="submit" value="SIGN UP" class="form-btn">
    </form> %>

    
    <%# <form class="login-form">
        <h3 class="form-heading">Log In</h3>
        <input type="email" class="form-input" placeholder="Email Address">
        <input type="password" class="form-input" placeholder="Password">
        <input type="submit" value="LOG IN" class="form-btn">
    </form> %>

</div>