<div class="homes">
    <div class="home">
        <div class="home__content">
            <h1 class=" home__content--heading title has-text-white">
                Find your dream home you'll love to live

            </h1>
            <div class="home__content--search">
                <%= form_tag root_path, method: :get, class: "field has-addons" do %>
                    <div class="control has-icons-left">
                        <span class="icon is-small is-left">
                            <i class="fa fa-search"></i>
                        </span>
                        <%= text_field_tag 'q', '', class: "input", placeholder: "Try 'logo design" %>
                    </div>
                    <div class="control">
                        <button class="button is-primary" type="submit">Search</button>
                    </div>
                <% end %>
            </div>
        </div>
        
    </div>
</div>
