@import 'variables';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    // @media only screen and (max-width: $bp-largest) {
    //     font-size: 50%;
    // }

    // @media only screen and (max-width: $bp-smallest) {
    //     font-size: 65%;
    // }
    @media only screen and (max-device-width: $bp-smallest) {
        //font-size: $mobile-font-size;
        font-size: 80%;
        
        a, div, p{
            font-size: 3.5rem;
        }
    }
}

body {
    // max-width: 280rem;
}

.ms-container{
    max-width: 180rem;
    margin: 0 auto;
    color: $color-black;
    font-family: $font-Raleway; 
    font-size: $default-font-size;
    font-weight: 300;
    line-height: 1.6;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    //grid-template-columns: [full-start] repeat(10, minmax(min-content, 14rem) ) [full-end];
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-large) {
        // grid-template-rows: 8rem 80vh min-content 40vw repeat(3, min-content);
        // grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
    //     grid-template-rows: 6rem calc(100vh - 6rem);
    }
    
    @media only screen and (max-device-width: $bp-smallest) {
        // font-size: $mobile-font-size;
        // font-weight: 300;
    }
    @media only screen and (max-device-width: $bp-smallest) {
        // font-size: 100%;
        //font-size: $mobile-font-size;
    }
}