

//COLORS
$color-primary: #77b800;
$color-primary-lighter: #e4ebd7;
$color-primary-darker: #669b05;
$color-primary-dark: hsl(81, 100%, 36%);
$color-primary-light: #e0f0c4;
$color-primary-2: #f6f7f4;
$color-primary-3: #ebf0e3;


$color-secondary: #04b98c;
$color-secondary-dark: #44502e;
$color-secondary-light: #baddc3;

$color-red: #f93838;
$color-red-dark: #a30808;
$color-red-darker: hsl(21, 100%, 36%);
$color-orange: #ec7e31;
$color-orange-dark: #bb5914;
$color-orange-light: hsl(31, 100%, 67%);

$color-grey: rgb(224, 220, 220);
$color-grey-dark: #999;
$color-grey-darker: #333;

$color-black: #323232;
$color-black-light: #6d6d6d;
$color-white: #fff;

// BULMA CUSTOMIZED
$my-primary: $color-primary;
$my-primary-invert: $color-primary-dark;
$my-warning: $color-orange;
$my-warning-invert: $color-orange-dark;

$warning: $my-warning;
$warning-invert: $my-warning-invert;

$primary: $my-primary;
$primary-invert: $my-primary-invert;

// FONT VARIABLES
$font-Raleway: 'Raleway', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 53.75em;    // 860px;
$bp-mobile-portrait: 50em; // 800px;
$bp-small: 37.5em;    // 600px;
$bp-smaller: 31.25em; // 500px;
$bp-smallest: 30em; // 480px; 480/16;

// FONT
$default-font-size: 1.6rem;
$mobile-font-size: 1em;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

    // @media only screen and (max-width: $bp-largest) {
    //     font-size: 50%;
    // }

    // @media only screen and (max-width: $bp-smallest) {
    //     font-size: 65%;
    // }
    @media only screen and (max-device-width: $bp-smallest) {
        //font-size: $mobile-font-size;
        font-size: 80%;
        
        a, div, p{
            font-size: 3.5rem;
        }
    }
}

body {
    // max-width: 280rem;
}

.ms-container{
    max-width: 180rem;
    margin: 0 auto;
    color: $color-black;
    font-family: $font-Raleway; 
    font-size: $default-font-size;
    font-weight: 300;
    line-height: 1.6;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    //grid-template-columns: [full-start] repeat(10, minmax(min-content, 14rem) ) [full-end];
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-large) {
        // grid-template-rows: 8rem 80vh min-content 40vw repeat(3, min-content);
        // grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
    //     grid-template-rows: 6rem calc(100vh - 6rem);
    }
    
    @media only screen and (max-device-width: $bp-smallest) {
        // font-size: $mobile-font-size;
        // font-weight: 300;
    }
    @media only screen and (max-device-width: $bp-smallest) {
        // font-size: 100%;
        //font-size: $mobile-font-size;
    }
}