@import "base";
@import "mixins";

.menu{
    grid-column: full-start/full-end;
    display: grid;
    grid-template-columns: 40rem repeat(3, fr);

    .navbar{
        grid-column: 1/-1;
        height: 5rem;
        position: fixed;
        width: 100%;
        font-size: 1.5rem;
        background-color: #fff;
        border-bottom: 2px solid $color-grey;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-device-width: $bp-smallest) {
            height: 80px;
            font-size: 24px;
        
        }

        &__left{
            @include npAlign;

            & > * {
                @include npDisplay;
            }

            &--link:link,
            &--link:visited {
                color: $color-black;
                text-decoration: none;
                // text-transform: uppercase;
                // display: block;
                // padding: 1.5rem 3rem;
                // position: relative;
                // z-index: 10;
            }

            & > *:hover {
                color: $color-primary;
                background-color: $color-primary-3;
                transition: transform .2s,
                            width .4s cubic-bezier(1,0,0,1) .2s,
                            font-weight .2s, color .2s,
                            background-color .1s;
            }
            
            &--item{
                margin-left: 1rem;
            }

            &--icon {
                display: none;
                // visibility: hidden;
                cursor: pointer;

                @media only screen and (max-width: $bp-medium) {
                    display: grid;
                    // visibility: visible;
                    
                }
                @media only screen and (max-device-width: $bp-smallest) {
                    display: grid;
                
                }

                .line {
                    // height: .2rem;
                    // width: 2.5rem;
                    height: 3.2px;
                    width: 40px;
                    background-color: $color-black;
                    margin-bottom: .6rem;
                }
            
                .line-1, .line-3 {
                    // width: 1.8rem;
                    width: 28.8px;
                    transition: all .4s;
                }
                .line-2{
                    background-color: $color-secondary;
                }

                &:hover .line {
                    // width: 2.5rem;
                    width: 40px;
                    background-color: $color-primary;
                }
                
            }

            &--logo{
                margin-left: -2rem;
                padding-left: 1rem;

                &:hover{
                    background-color: $color-white;
                    color: currentColor;
                }
                @media only screen and (max-width: $bp-medium) {
                    display: none;
                    // margin: 0;
                }
                @media only screen and (max-device-width: $bp-smallest) {
                    display: none;
                    // margin: 0;
                }
            }
        }

        &__middle{
            display: none;
            @media only screen and (max-width: $bp-medium) {
                display: grid;
                // margin: 0;
            }
            @media only screen and (max-device-width: $bp-smallest) {
                display: grid;
                // margin: 0;
            }
        }

        &__right {
            @include npAlign;

            & > * {
                @include npDisplay;
            }

            &--link:link,
            &--link:visited {
                color: $color-black;
                text-decoration: none;
            }

            & > *:hover {
                color: $color-primary;
                background-color: $color-primary-3;
                // transition: transform .2s,
                //             width .4s cubic-bezier(1,0,0,1) .2s,
                //             font-weight .2s, color .2s,
                //             background-color .1s;
            }

            &--signin{
                color: $color-white;
                background-color: $color-primary;
                transition: all .2s;
                
                &:link,
                &:visited{
                    color: $color-white;
                }

                &:hover{
                    color: $color-primary;
                    
                }
                
            }
            &--icon{
                width: 1.75rem;
                height: 1.75rem;
                margin-right: 1rem;
                fill: currentColor;
            }
        }

        &__hidden{
            @media only screen and (max-width: $bp-medium) {
                display: none;
                // margin: 0;
            }
            @media only screen and (max-device-width: 480px) {
                display: none;
            }
        }

        @media only screen and (max-device-width: 480px) {
            // font-size: $mobile-font-size;
            // font-weight: 300;
        }
    }

    .sidebar{
        grid-column: 1/2;
        position: fixed;
        left: -40rem;
        font-size: 1.6rem;
        // height: 100%;
        height: 100vh;
        overflow: scroll;
        background-color: $color-white;
        // background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .8)) ,url(../img/nav-bg.jpeg) center no-repeat;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content min-content 1fr;
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        transition: left .8s cubic-bezier(1, 0, 0, 1);
        z-index: 300;

        &::-webkit-scrollbar {
            width: 5px;
        }
            
        /* Track */
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px $color-white; 
            -webkit-border-radius: none;
            border-radius: none;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: none;
            border-radius: none;
            background: rgba(162, 223, 192, 0.8);
            -webkit-box-shadow: inset 0 0 6px rgba(28, 243, 92, 0.5);
            -moz-border-radius: none;
            -ms-border-radius: none;
            -o-border-radius: none;
        }
        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgb(233, 219, 26); 
        }

        &::-webkit-scrollbar-thumb:hover {
            background:rgb(73, 216, 109); 
        }

        @media only screen and (max-device-width: $bp-smallest) {
            font-size: 24px;
        
        }

        &__header {
            grid-column: 1/-1;
            align-self: stretch;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Josefin Sans', sans-serif;
            height: 5rem;
            background-color: $color-white;
            border-bottom: 2px solid $color-grey;

            & > * {
                padding: 0 1rem;
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        &__login {
            grid-column: 1/-1;
            align-self: stretch;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: 'Josefin Sans', sans-serif;
            height: 5rem;
            background-color: $color-white;
            // border-bottom: 1px solid $color-grey;

            & > * {
                padding: 0 1rem;
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;
            }
        }

        &__text{
            padding: 0 1.5rem;
            color: $color-black-light;
            font-size: 1.6rem;
        }

        &__list {
            grid-column: 1/-1;
            grid-row: 3/-1;   
            flex: 0 0 18%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            &--nav {
                font-size: 1.6rem;
                list-style: none;
                margin-top: .5rem;
        
                // @media only screen and (max-width: $bp-medium) {
                //     display: flex;
                //     margin: 0;
                // }
        
                &__item {
                    position: relative;
        
                    &:not(:last-child) {
                        margin-bottom: .5rem;
        
                        // @media only screen and (max-width: $bp-medium) {
                        //     margin: 0;
                        // }
                    }
        
                    // @media only screen and (max-width: $bp-medium) {
                    //     flex: 1;
                    // }
                }
        
                &__item::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: $color-primary-3;
                    
                    transform: scaleY(0);
                    transition: transform .2s,
                                width .4s cubic-bezier(1,0,0,1) .2s,
                                color .2s,
                                background-color .1s;
                }
        
                &__item:hover::before,
                &__item--active::before {
                    transform: scaleY(1);
                    width: 100%;
                }
        
                &__item:active::before {
                    background-color: $color-primary-light;
                    color: $color-white;
                }
        
                &__link:link,
                &__link:visited {
                    color: $color-black;
                    text-decoration: none;
                    // text-transform: uppercase;
                    display: block;
                    padding: 1rem 3rem;
                    position: relative;
                    z-index: 10;
        
                    display: flex;
                    align-items: center;
        
                    // @media only screen and (max-width: $bp-medium) {
                    //     justify-content: center;
                    //     padding: 2rem;
                    // }
        
                    // @media only screen and (max-width: $bp-small) {
                    //     flex-direction: column;
                    //     padding: 1.5rem .5rem;
                    // }
                }
        
                &__icon {
                    width: 1.75rem;
                    height: 1.75rem;
                    margin-right: 2rem;
                    fill: $color-black-light;
                    // fill: currentColor;
        
                    // @media only screen and (max-width: $bp-small) {
                    //     margin-right: 0;
                    //     margin-bottom: .7rem;
                    //     width: 1.5rem;
                    //     height: 1.5rem;
                    // }

                    @media only screen and (max-device-width: $bp-smallest) {
                        width: 28px;
                        height: 28px;
                    
                    }
                }
            }

            &--copyright {
                color: $color-black;
                font-size: 1.4rem;
                // margin-top: 5rem;
                text-align: center;
                padding: 2.5rem;
        
                @media only screen and (max-width: $bp-medium) {
                    // display: none;
                }
        
            }
    
        }
        
    }
    .checkbox:checked ~ .sidebar {
        left: 0rem;
    }


    .checkbox:checked ~ .sidebar .line-1 {
        transform: rotate(-405deg) translate(-5px, 6px);
        width: 2.5rem;
    }

    .checkbox:checked ~ .sidebar .line-2 {
        opacity: 0;
    }

    .checkbox:checked ~ .sidebar .line-3 {
        transform: rotate(405deg) translate(-5px, -6px);
        width: 2.5rem;
    }

    // Checked Navbar

    .checkbox:checked ~ .navbar .line-1 {
        transform: rotate(-405deg) translate(-5px, 6px);
        width: 2.5rem;
        // display: none;
    }

    .checkbox:checked ~ .navbar .line-2 {
        opacity: 0;
    }

    .checkbox:checked ~ .navbar .line-3 {
        transform: rotate(405deg) translate(-5px, -6px);
        width: 2.5rem;
        // display: none;
    }

    
}
