

//COLORS
$color-primary: #77b800;
$color-primary-lighter: #e4ebd7;
$color-primary-darker: #669b05;
$color-primary-dark: hsl(81, 100%, 36%);
$color-primary-light: #e0f0c4;
$color-primary-2: #f6f7f4;
$color-primary-3: #ebf0e3;


$color-secondary: #04b98c;
$color-secondary-dark: #44502e;
$color-secondary-light: #baddc3;

$color-red: #f93838;
$color-red-dark: #a30808;
$color-red-darker: hsl(21, 100%, 36%);
$color-orange: #ec7e31;
$color-orange-dark: #bb5914;
$color-orange-light: hsl(31, 100%, 67%);

$color-grey: rgb(224, 220, 220);
$color-grey-dark: #999;
$color-grey-darker: #333;
$color-grey-dark-2: #777;

$color-black: #000;
$color-black-2: #323232;
$color-black-light: #6d6d6d;


$color-white: #fff;

// BULMA CUSTOMIZED
$my-primary: $color-primary;
$my-primary-invert: $color-primary-dark;
$my-warning: $color-orange;
$my-warning-invert: $color-orange-dark;

$warning: $my-warning;
$warning-invert: $my-warning-invert;

$primary: $my-primary;
$primary-invert: $my-primary-invert;

// FONT VARIABLES
$font-Raleway: 'Raleway', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 53.75em;    // 860px;
$bp-mobile-portrait: 50em; // 800px;
$bp-small: 37.5em;    // 600px;
$bp-smaller: 31.25em; // 500px;
$bp-smallest: 30em; // 480px; 480/16;

// FONT
$default-font-size: 1.6rem;
$mobile-font-size: 1em;
